body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333; /* Fondo gris */
    color: #fff; /* Texto blanco */
}

header {
    background-color: #333; /* Fondo gris */
    color: #fff; /* Texto blanco */
    padding: 1em;
    text-align: center;
    position: relative;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media {
    position: absolute;
    top: 1em;
    right: 1em;
}

.social-media a img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.hero {
    text-align: center;
    padding: 4em 0;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 1em;
}

.about, .blog, .guides {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333; /* Fondo gris */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
